<<<<<<< HEAD
.quantity{
  margin-right: 1100px;;
}
.price{
  margin-right: 900px;
}
=======
.quantity{
  margin-right: 1100px;;
}
.price{
  margin-right: 900px;
}
>>>>>>> 91a19d8c6cb6a76a4e716366d46e46cb75949bf6
