
#test .arc2 {
  stroke-weight:0.1;
  fill: #3660b0;
}

#outer {
  background:#FFFFFF;
  border-radius: 5px;
  color: #000;
}

#div1{
  width: 33%;
  height: 200px;
  box-sizing: border-box;
  float: left;
}

.radial {
  border-radius: 3px;
  background: #FFFFFF;
  color: #000;

}
#sbrst {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  /*align:left;*/
  background: #fff;
  margin: 30px;
    /*height: 450px;*/
    /*width: 1200px;*/
}
.vertical-divider {
  padding-top: 4.6%;
  width: 6%;
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  padding-bottom: 0px;
}
form {
  position: absolute;
  right: 10px;
  top: 10px;}
path {
  stroke: #fff;
  fill-rule: evenodd;}

  .component {
      fill: #e1e1e1;
  }
  ​
  .component .label {
      font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
      text-anchor: middle;
      fill: #0000FF;
  }
  ​
  .arc {
      stroke-weight:0.1;
      fill: #4e8fff;
  }
  ​
  ​
  .arc2 {
      stroke-weight:0.1;
      fill: #3660b0;
  }

  .label {
      font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
      text-anchor: middle;
  }
  ​
  .radial-svg {
      display: block;
      margin: 0 auto;
  }
